<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Cathub - Connexion</title>
</head>
<body class="centered-page">
    <a href="/" class="back-arrow">
      <i class='bx bx-arrow-back'></i>
    </a>
    <div class="login-container">
        <form action="/login" method="POST">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" name="email" placeholder="Email" required>
                <i class='bx bxs-envelope' ></i>
            </div>
            <p class="alertMessage">{{.EmailMessage}}</p>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember">
                <label for="remember">Rester connecté
                    <input type="checkbox" name="remember">
                </label> 
            </div>

            <button type="submit" class="btn">Se connnecter</button>
            <p class="alertMessage">{{.GlobalMessage}}</p>
            <p class="alertMessage good">{{.GlobalSuccessMessage}}</p>
            <div class="register-link">
                <p>
                    Pas encore de compte? <a href="register">Inscrivez-vous ici !</a>
                </p>
        </form>
    </div>
</body>